In [10]:
import pandas as pd
import seaborn as sns
import numpy as np 
import matplotlib.pyplot as plt

In [23]:
df = sns.load_dataset('titanic')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [15]:
df = pd.read_csv('C:\\Users\\Asus\\Downloads\\Chemicals in Makeup.csv')
df

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
0,2,ULTRA COLOR RICH EXTRA PLUMP LIPSTICK-ALL SHADES,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),53,...,13463-67-7,6,Titanium dioxide,6/17/2009,8/28/2013,2/1/2011,7/9/2009,7/9/2009,NaN,1
1,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,65996-92-1,4,Distillates (coal tar),7/1/2009,7/1/2009,NaN,7/1/2009,7/1/2009,NaN,2
2,3,Glover's Medicated Shampoo,NaN,NaN,338,J. Strickland & Co.,Glover's,18,Hair Care Products (non-coloring),25,...,140-67-0,5,Estragole,7/1/2009,7/1/2009,NaN,7/2/2009,7/2/2009,NaN,2
3,4,PRECISION GLIMMER EYE LINER-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),46,...,13463-67-7,7,Titanium dioxide,7/9/2009,8/28/2013,NaN,7/9/2009,7/9/2009,NaN,1
4,5,AVON BRILLIANT SHINE LIP GLOSS-ALL SHADES �,NaN,NaN,4,New Avon LLC,AVON,44,Makeup Products (non-permanent),52,...,13463-67-7,8,Titanium dioxide,7/9/2009,8/28/2013,2/1/2011,7/9/2009,7/9/2009,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114630,41523,HYDRA-LIP TRANSLUCENT COLOR LIPSTICK,65001.0,Rosa Soft,1259,"Yanbal USA, Inc",YANBAL,44,Makeup Products (non-permanent),53,...,13463-67-7,68059,Titanium dioxide,6/19/2020,6/19/2020,NaN,6/19/2020,6/19/2020,NaN,1
114631,41523,HYDRA-LIP TRANSLUCENT COLOR LIPSTICK,65002.0,Malva Spirit,1259,"Yanbal USA, Inc",YANBAL,44,Makeup Products (non-permanent),53,...,13463-67-7,68060,Titanium dioxide,6/19/2020,6/19/2020,NaN,6/19/2020,6/19/2020,NaN,1
114632,41523,HYDRA-LIP TRANSLUCENT COLOR LIPSTICK,65003.0,Rojo Fashion,1259,"Yanbal USA, Inc",YANBAL,44,Makeup Products (non-permanent),53,...,13463-67-7,68061,Titanium dioxide,6/19/2020,6/19/2020,NaN,6/19/2020,6/19/2020,NaN,1
114633,41523,HYDRA-LIP TRANSLUCENT COLOR LIPSTICK,65004.0,Terra Mystic,1259,"Yanbal USA, Inc",YANBAL,44,Makeup Products (non-permanent),53,...,13463-67-7,68062,Titanium dioxide,6/19/2020,6/19/2020,NaN,6/19/2020,6/19/2020,NaN,1
114634,41524,OLD SPICE GENTLEMENS BLEND ALOE AND WILD SAGE ...,NaN,NaN,86,The Procter & Gamble Company,Old Spice,6,Bath Products,159,...,13463-67-7,68074,Titanium dioxide,6/23/2020,6/23/2020,NaN,6/23/2020,6/23/2020,NaN,1

# Cautare dupa brand

In [21]:
brand_name_to_search = 'Avon'
result = df.loc[df['BrandName'] == brand_name_to_search]

result

,CDPHId,ProductName,CSFId,CSF,CompanyId,CompanyName,BrandName,PrimaryCategoryId,PrimaryCategory,SubCategoryId,...,CasNumber,ChemicalId,ChemicalName,InitialDateReported,MostRecentDateReported,DiscontinuedDate,ChemicalCreatedAt,ChemicalUpdatedAt,ChemicalDateRemoved,ChemicalCount
63427,22744,ULTRA GLAZEWEAR LIP GLOSS (ALL SHADES) �,NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),52,...,13463-67-7,34498,Titanium dioxide,4/4/2014,4/4/2014,NaN,4/4/2014,4/4/2014,NaN,1
63428,22745,KOHL EYE LINER WITH SMUDGER (ALL SHADES) �,NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),46,...,13463-67-7,34499,Titanium dioxide,4/4/2014,4/4/2014,NaN,4/4/2014,4/4/2014,NaN,1
63429,22746,TRUE COLOR EYESHADOW QUAD (ALL SHADES),NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),48,...,13463-67-7,34500,Titanium dioxide,4/4/2014,4/4/2014,NaN,4/4/2014,4/4/2014,NaN,1
63430,22747,TRUE COLOR EYESHADOW DUO (ALL SHADES),NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),48,...,13463-67-7,34501,Titanium dioxide,4/4/2014,4/4/2014,NaN,4/4/2014,4/4/2014,NaN,1
63431,22748,TRUE COLOR EYESHADOW SINGLE (ALL SHADES) �,NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),48,...,13463-67-7,34502,Titanium dioxide,4/4/2014,4/4/2014,NaN,4/4/2014,4/4/2014,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71734,26137,NAILWEAR PRO PLUS ELECTRIC NAIL ENAMEL (ALL SH...,NaN,NaN,4,New Avon LLC,Avon,59,Nail Products,65,...,13463-67-7,41034,Titanium dioxide,4/23/2015,4/23/2015,NaN,4/23/2015,4/23/2015,NaN,1
74939,26951,FLAVOR SAVERS LIP BALM (ALL SHADES),NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),51,...,13463-67-7,43404,Titanium dioxide,10/6/2015,10/6/2015,NaN,10/6/2015,10/6/2015,NaN,1
75474,27099,Big & False Lash Volume Mascara (all shades),NaN,NaN,4,New Avon LLC,Avon,44,Makeup Products (non-permanent),162,...,13463-67-7,43843,Titanium dioxide,11/4/2015,11/4/2015,NaN,11/4/2015,11/4/2015,NaN,1
78005,28072,ATTRACTION FOR HER SHOWER GEL & FOR HIM HAIR &...,NaN,NaN,4,New Avon LLC,Avon,18,Hair Care Products (non-coloring),25,...,13463-67-7,45467,Titanium dioxide,4/15/2016,4/15/2016,NaN,4/15/2016,4/15/2016,NaN,1
78006,28072,ATTRACTION FOR HER SHOWER GEL & FOR HIM HAIR &...,NaN,NaN,4,New Avon LLC,Avon,6,Bath Products,159,...,13463-67-7,45467,Titanium dioxide,4/15/2016,4/15/2016,NaN,4/15/2016,4/15/2016,NaN,1

Afisare toate brandurile

In [22]:
unique_brands = df['BrandName'].unique()
unique_brands

array(['AVON', "Glover's", 'OPI', ..., 'sulwhasoo ', 'HAIR FOOD',
       'YANBAL'], shape=(2714,), dtype=object)